{% set path = '/images/restaurant/' %}
{% set star = 3 %}
{% for resto in restos %}
	<a class="card" href="{{path('resto_view',{'id':resto.id})}}">
		<figure class="ps-r figure-card" style="background-image: url({{asset(path ~ resto.cover)|imagine_filter('miniature') }})"></figure>
		<div class="info-card-rating">
			<h2>{{resto.name}}</h2>
			<span class="note">
				{% for i in 1..5 %}
					{% if star < i %}
						<i class="fa-regular fa-star"></i>
					{% else %}
						<i class="fa-solid fa-star"></i>
					{% endif %}
				{% endfor %}

			</span>
		</div>
        <div class="d-flex justify-content-between align-items-center info-card-rating info-city-type-card">
            <span class="info-city-card d-flex align-items-center">
            <i class='bx bx-been-here' ></i>
                {{resto.city}}
            </span>
            <span>
			{% for category in resto.category %}
            {% if category.name != 'restaurant' %}
            <img src="{{asset('/build/images/fast-black.svg')}}" alt="">
            {% else %}
            <img src="{{asset('/build/images/resto-black.svg')}}" alt="">
            {% endif %}
				
			{% endfor %}
            </span>
        </div>
	</a>
{% endfor %}
