{% if restos|length > 0 %}
	<h2 class="fs-style">
				{% trans %}
				Découvrez les restaurations de la semaine.
				{% endtrans %}
			</h2>
<div class="grid-container">
{% set path = '/images/restaurant/' %}
 {% for resto in restos %}
	<div class="container-flip-card">
		<div class="card-flip">
			<div class="card-restaurant card-flip-front side card-random">
				{% for cat in resto.category %}
				{% if loop.first %}
					{% if cat.name == 'restaurant' %}
						<img src="{{ asset('/build/images/resto.svg') }}" alt="icon d'une tête de chef de restaurant">
					{% else %}
						<img src="{{ asset('/build/images/fast.svg') }}" alt="icon d'un burger illuminé ">
					{% endif %}
					{% endif %}
				{% endfor %}
				<img class="touch-flip-card" src="{{ asset('/build/images/home/touch.svg') }}" alt="doigt qui click">


			</div>


			<div class="card-flip-back side bg-full" 
			{% if resto.cover is empty %}
				style="background-image:url({{asset('/build/images/site/default_resto.jpg' )}})"
				{% else %}
			style="background-image: url({{asset(path ~ resto.cover)|imagine_filter('miniature')}})"
			{% endif %}
			>
				<div class="info-flip-card-back">
					<p class="info-flip-card-name break-word">{{resto.name}}</p>
					<p>
						<i class='bx bxs-city'></i>
						{{resto.city.localite}}
					</p>
						<span class="note">
							{% for i in 1..5 %}
								{% if resto.getNote() < i %}
									<i class="fa-regular fa-star"></i>
								{% else %}
									<i class="fa-solid fa-star"></i>
								{% endif %}
							{% endfor %}

						</span>
				

					<a class="btn-flip-card" href="{{path('resto_view',{'id':resto.id})}}">
						<h4>
						{% trans %}
						En savoir plus
						{% endtrans %}
						</h4>
						<svg fill="#333" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="first-resto-home-page">
	<h2 class="fs-style"> 
		{% trans %}
			Soyez le premier restaurant sur notre page d'accueil!
		{% endtrans %}
	</h2>
	<a href="{{path('user_register')}}" class="btn">{% trans %}Inscrivez vous ici{% endtrans %} </a>
</div>
{% endif %}
