{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<section class="banner container-fluid home-banner" style="background-image:url({{asset('/build/images/site/banner1.jpg')}})">
		<div class="container d-flex justify-content-center logo-banner">
			<figure>
				<img src=" {{asset('/build/images/banner-logo.svg')}} " alt="logo to link">
			</figure>
		</div>
		
	</section>

	<section class="content-card container-fluid">
		<div class="container">
			<h2 class="fs-style">
				{% trans %}
				Découvrez les restaurations de la semaines.
				{% endtrans %}
			</h2>
			<div class="grid-container">
				{{ render_esi(path('test')) }}
			</div>
			<div class="info-full">
				<img src="{{ asset('/build/images/home/moreResto.svg') }}" alt="">
				<div class="info">
					<h2>
						{% trans %}
						Envie de découvrir plus de restaurants?
						{% endtrans %}
					</h2>

					<h3>
						{% trans %}
						Alors n'hésitez pas à visiter la liste de nos restaurants.
						{% endtrans %}
					</h3>

					<a class="btn-flip-card" href="{{path('restos_list')}}">
						<h4>
							{% trans %}
							Voir tous les établissements 
							{% endtrans %}
						</h4>
						<svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
					</a>

				</div>
			</div>
		</div>
	</section>

	<section class="slide-pub">
		<div class="slide-pub-info container">
			<div class="slide-pub-grid-container">

				<figure>
					<img src="{{asset('/build/images/restaurateur-info.svg')}}" alt="cuisinier qui tien un plateau">
				</figure>
				<div class="slide-pub-resto">
					<h2>
						{% trans %}
						 Vous êtes restaurateur ? 
						{% endtrans %}
					</h2>
					<div class="slide-pub-points">
						<ul>
							<li>
								{% trans %}
								Partagez vos délicieux plat avec la communauté ToLink et faites vous de nouveau client.
								{% endtrans %}
								</li>
							<li>
								{% trans %}
								Créer votre page restaurant et gérez là pour augmenter votre popularité.
								{% endtrans %}
								</li>
						</ul>
					</div>
					<div class="container-pub-btn">
						<a class="btn-transparent-card" href="{{path('user_register')}}">
							<h4>
								{% trans %}
								S'inscrire dès maintenant
								{% endtrans %}
							</h4>
							<svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
						</a>
					
					</div>
				</div>	
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('flip-card') }}
{% endblock %}
