{% extends "/admin/adminBase.html.twig" %}
{% block title %}{% endblock %}
{% set default_avatar = asset('/build/images/avatar/avatar-default.svg') %}
{% block body %}
	<div class="bg-style-create">
		<div class="container-resto-form">
			<div class="title">
				<h1>
					{% trans %}
					Gestion des commentaires
					{% endtrans %}
				</h1>
			</div>

			<div class="form-step">
				{{form_start(form)}}

				<div class="avatar-step">
					<div class="container-preview-avatar">
						<picture class="before-avatar-container">
							<h2>
								{% trans %}Photo actuel
								{% endtrans %}</h2>
							{% if user.avatar is empty %}
								<img width="150" class="js-avatar" src="{{default_avatar}}" alt="avatar de l' utilisateur {{user.pseudo}}">
							{% else %}
								<img class="js-avatar" width="150" src="{{asset('/images/avatar/' ~ user.avatar )|imagine_filter('avatar_bg')}}" alt="avatar de l' utilisateur {{user.pseudo}}">
							{% endif %}
						</picture>
					</div>
					{{form_label(form.path)}}
					{{form_widget(form.path)}}
					<div class="form-create-error">
						{{form_errors(form.path)}}
					</div>
				</div>
				<div class="form-groups create-form-coord">
					<div class="container-design-form">
						<h2>{% trans %}Email{% endtrans %}</h2>
						<div class="design-form-input">
							<div class="design-form-icon anim-icon">
								<img src="{{asset('/build/images/profil/mail.svg')}}" alt="chef icon" width="40px" height="40px">
							</div>
							{{form_widget(form.pseudo)}}
						</div>
						<div class="form-create-error">
							{{form_errors(form.email)}}
						</div>
					</div>

					<div class="container-design-form">
						<h2>{% trans %}Pseudo{% endtrans %}</h2>
						<div class="design-form-input">
							<div class="design-form-icon ">
								<img src="{{asset('/build/images/profil/pseudo.svg')}}" alt="badge avec tête" width="40px" height="40px">
							</div>
							{{form_widget(form.email)}}
						</div>
						<div class="form-create-error">
							{{form_errors(form.city)}}
						</div>
					</div>


				</div>
				<div class="form-groups create-form-coord">
					<div class="container-design-form">
						<h2>{% trans %}Adresse{% endtrans %}</h2>
						<div class="design-form-input">
							<div class="design-form-icon anim-icon">
								<img src="{{asset('/build/images/path.svg')}}" alt="chef icon" width="40px" height="40px">
							</div>
							{{form_widget(form.adress)}}
						</div>
						<div class="form-create-error">
							{{form_errors(form.adress)}}
						</div>
					</div>

					<div class="container-design-form">
						<h2>{% trans %}Ville{% endtrans %}</h2>
						<div class="design-form-input">
							<div class="design-form-icon ">
								<img src="{{asset('/build/images/citysky.svg')}}" alt="chef icon" width="40px" height="40px">
							</div>
							{{form_widget(form.city)}}
						</div>
						<div class="form-create-error">
							{{form_errors(form.city)}}
						</div>
					</div>


				</div>
				<div class="container-btn-action-form">

					<div class="button-container-2">
						<span class="mas">
							{% trans %}
							Retour vers l'admin
							{% endtrans %}
						</span>
						<a href="{{path('app_admin_users')}}" name="Hover">
							{% trans %}
							Retour vers l'admin
							{% endtrans %}
						</a>
					</div>
					<div class="button-container-1">
						<span class="mas-1">
							{% trans %}
							Mettre à jour
							{% endtrans %}
						</span>
						<button type="submit" name="Hover">
							{% trans %}
							Mettre à jour
							{% endtrans %}
						</button>
					</div>

				</div>
				{{form_rest(form)}}
				{{form_end(form)}}
			</div>
		</div>
	</diV>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
