{% extends '/admin/adminBase.html.twig' %}
{% block title %}
	{% trans %}Gestion utilisateurs{% endtrans %}
{% endblock %}
{% block body %}
	<div class="container container-main-admin">
		<section class="dashboard-container">
			{% include "/admin/dash_board/_nav-admin.html.twig" %}

							<h1>{% trans %}Gestion utilisateurs{% endtrans %}</h1>
			<div class="container-search-admin">
				{{form_start(form)}}
				<div class="btn-search-filter-admin">
				{{form_row(form.search,{'attr':{'placeholder':'auteur/commentaire'}})}}
				<button type="submit"><img src="{{asset('/build/images/header/search-header.svg')}}" alt="loupe"></button>
				</div>
				{{form_row(form.resto)}}
				{{form_end(form)}}
				</div>

				<div class="comment-admin-main">
			
				<table class="comment-admin-main">
					<thead>
						<tr>
							<th scope="col">{% trans %} Editeur {% endtrans %}</th>
							<th scope="col">{% trans %} Restaurant lié {% endtrans %} </th>
							<th scope="col">{% trans %} Date du commentaire {% endtrans %}</th>
							<th scope="col">{% trans %} Commentaire {% endtrans %}</th>
							<th scope="col">{% trans %} action {% endtrans %}</th>
						</tr>
					</thead>
					<tbody>
					{% for comment in comments %}
						<tr>
							<td data-label={% trans %}"Editeur"{% endtrans %}>
								{{comment.author.pseudo}}
							</td>
							<td data-label={% trans %}" Restaurant lié"{% endtrans %}>
								{{comment.resto.name}}
							</td>
									<td data-label={% trans %}"Date du commentaire"{% endtrans %}>
								{{comment.dateCom|date("m/d/Y")}}
							</td>
									<td class="action-admin-comment-container" data-label={% trans %}"Commentaire"{% endtrans %}>
								{{comment.description}}
							</td>
							<td  class="action-admin-btn-container">
							<div class="action-container-admin">
								<a href="{{path('edit_manage_comment',{'id':comment.id})}}" class="action-btn-admin-edit"><i class="fa-regular fa-pen-to-square"></i></a>
								
								{# <a href="" data-path={{url('delete_manage',{'id':comment.id})}} data-pseudo={{comment.pseudo}} class="action-btn-admin-delete"><i class="fa-solid fa-comment-minus"></i></a> #}
							</div>
							</td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
					</div>
				<div class="navigation">
				{{ knp_pagination_render(comments) }}
			</div>
			</section>
		</div>
		
	{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('modal-admin') }}
{% endblock %}