<div class="bottom-nav">
	<div class="container">
		<div class="bottom-nav-grid">
			<div class="action-btn-search">
				<form action="{{path('restos_list')}}" method="get" class="header-form-search">
					<input type="checkbox" name="categories[]" class="resto" value="{{observer.getObserver()['fastId'].id}}" checked>
					<button type="submit" href="{{path('restos_list')}}" class="action-btn-search-a">
						<img src="/build/images/fast-black.svg" alt="svg d'un chef de restaurant">
					</button>
				</form>
				<span>
					{% trans %}
					Fast-foods
					{% endtrans %}
				</span>
			</div>
			<div class="action-btn-search">
				<form action="{{path('restos_list')}}" method="get" class="header-form-search">
					<input type="checkbox" name="categories[]" class="resto" value="{{observer.getObserver()['restoId'].id}}" checked>
					<button type="submit" href="{{path('restos_list')}}" class="action-btn-search-a">
						<img src="/build/images/resto-black.svg" alt="personnage restaurateur icon">
					</button>
				</form>
				<span>
				{% trans %}
					Restaurants
				{% endtrans %}
				</span>
			</div>
			<div class="action-btn-search">
				<a href="{{path('restos_list')}}" class="action-btn-search-a">
					<img src="/build/images/profil/profil-restos-view.svg" alt="table de restaurant icon">
				</a>
				<span>
					{% trans %}
					Voir tout
					{% endtrans %}
				</span>
			</div>
		</div>
	</div>
</div>
