<header>
	<div class="header-container">
		<a class="header-logo" href={{path('home')}}>
			<img src="{{asset('/build/images/logo-header.svg')}}" alt="">
		</a>
		<div class="container-search-header">
			<form action="{{path('restos_list')}}" method="get" class="header-form-search">
				<picture>
					<i class="fa-solid fa-location-dot"></i>
				</picture>
				<input type="text" name="s" placeholder={% trans %} "Entrer une ville, nom du restaurant" {% endtrans %}>
				<button class='header-form-search-submit' type="submit">
					<img src="{{asset('/build/images/header/search-header.svg')}}" alt="loupe avec un restaurant">
				</button>
			</form>

		</div>
		<div class="header-container-btn">
			<div class="action-btn-search">
				<form action="{{path('restos_list')}}" method="get" class="header-form-search">
					<input type="checkbox" name="categories[]" class="resto" value="1" checked>
					<button type="submit" href="{{path('restos_list')}}" class="action-btn-search-a">
						<img src="/build/images/fast-black.svg" alt="svg d'un chef de restaurant">
					</button>
				</form>
				<span>
					{% trans %}
					Fast-foods
					{% endtrans %}
				</span>
			</div>
			<div class="action-btn-search">
				<form action="{{path('restos_list')}}" method="get" class="header-form-search">
					<input type="checkbox" name="categories[]" class="resto" value="2" checked>
					<button type="submit" href="{{path('restos_list')}}" class="action-btn-search-a">
						<img src="/build/images/resto-black.svg" alt="">
					</button>
				</form>
				<span>
				{% trans %}
					Restaurants
				{% endtrans %}
				</span>
			</div>
			<div class="action-btn-search">
				<a href="{{path('restos_list')}}" class="action-btn-search-a">
					<img src="/build/images/profil/profil-restos-view.svg" alt="">
				</a>
				<span>
					{% trans %}
					Tous les établissements
					{% endtrans %}
				</span>
			</div>

			{% if  not app.user %}
				<div class="action-btn-search">
					<a href="{{path('login')}}" class="action-btn-search-a action-login-search">
						<img src="/build/images/header/login.svg" alt="svg page connexion petit cuisto">
					</a>
					<span>
						{% trans %}
						Connexion
						{% endtrans %}
					</span>
				</div>
				<div class="action-btn-search">
					<a href="{{path('user_register')}}" class="action-btn-search-a action-register-search">
						<img src="/build/images/header/register.svg" alt="cahier d'inscription login">
					</a>
					<span>
						{% trans %}
						Inscription
						{% endtrans %}
					</span>
				</div>
			{% endif %}

			{% if app.user %}
				<button class="header-btn-profil">
					<picture>
						{% if app.user.avatar is empty %}
							<img src="{{asset('/build/images/avatar/avatar-default.svg')}}" alt="photo profil de {{app.user.pseudo}}">
						{% else %}
							<img src="{{asset('/images/avatar/' ~ app.user.avatar )|imagine_filter('avatar_mini') }}" alt="profil de {{app.user.pseudo}}">
						{% endif %}
					</picture>
					<i class="mx-2 fa-solid fa-chevron-down"></i>
				</button>
			{% endif %}

		</div>
		<div class="container-anim-burger">
			<svg viewbox="0 0 100 80" width="40" height="40">
				<rect width="100" height="10"></rect>
				<rect y="30" width="100" height="10"></rect>
				<rect y="60" width="100" height="10"></rect>
			</svg>
		</div>

		{# partie profil  #}
		<div class="menu-down-profil">

			<div class="menu-down-info-profil">
				{% if app.user %}
					<button class="header-btn-profil">
						<picture>
							{% if app.user.avatar is empty %}
								<img src="{{asset('/build/images/avatar/avatar-default.svg')}}" alt="photo profil de {{app.user.pseudo}}">
							{% else %}
								<img src="{{asset('/images/avatar/' ~ app.user.avatar )|imagine_filter('avatar_mini') }}" alt="profil de {{app.user.pseudo}}">
							{% endif %}
							<span>
								{{app.user.pseudo}}
							</span>
						</picture>

					</button>
				{% endif %}
				<a href="{{path('app_profil')}}">
					{% trans %}
					Voir mon profil
					{% endtrans %}
				</a>
			</div>
			<ul>
				<li>
					<a href="{{path('app_profil')}}/favoris-profil">
						<span>
							<i><img src="{{asset('/build/images/fast-black.svg')}}" alt=""></i>
							<span>
								{% trans %}
								Voir mes favoris
								{% endtrans %}
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="{{path('restos_list')}}">
						<span>
							<i><img src="{{asset('/build/images/resto-black.svg')}}" alt=""></i>
							<span>
								{% trans %}
								Voir les restaurants
								{% endtrans %}
							</span>
						</span>
					</a>
				</li>
				<li class="log-out-profil">
					<a href="{{path('app_logout')}}">
						<span>
							<i class="fa-solid fa-right-from-bracket"></i>
							<span>
								{% trans %}
								Déconnexion
								{% endtrans %}
							</span>
						</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</header>
