{% set btnComentsUp = 'Afficher plus de commentaires'%}
{% set btnComentsDown = 'cacher les commentaires'%}

<div class="js-move"></div>
<section class="container-comments">
	<h2>{% trans %}Liste des commentaires de l'établissement{% endtrans %}
		{{resto.name}}</h2>
	<div class="container-comments-grid">
		{% if resto.comments|length > 0 %}
			{% for comment in repo %}
				<div class="comment-box js-box-comment">
				{% if app.user and app.user == comment.author %}
				<a href="{{path('modif_comment',{'id':comment.id})}}" class="comment-edit-current-user">
					<img src="{{asset('/build/images/edit-comment.svg')}}" alt="marqueur d'édition" width:'40px' height="40px">
				</a>
				{% endif %}
					<blockquote class="date-comment">
						<figure class="comment-avatar-resto">
							{% if comment.author.avatar is empty %}
								<img src="{{asset('/build/images/avatar/avatar-default.svg')}}" alt="photo profil de {{comment.author.pseudo}}">
							{% else %}
								<img src="{{asset('/images/avatar/' ~ comment.author.avatar )|imagine_filter('avatar_mini') }}" alt="photo profil de {{comment.author.pseudo}}">
							{% endif %}
							<figcaption>
							<p>
								{{comment.author.pseudo}}
							</p>
								<p class="data-of-com">
							{{comment.dateCom|date("d/m/Y")}}
						</p>
							</figcaption>
						</figure>
						<div class="container-header-star comment-stars">
							{% for i in 1..5 %}
								{% if comment.rating < i %}
									<i class="fa-regular fa-star"></i>
								{% else %}
									<i class="fa-solid fa-star"></i>
								{% endif %}
							{% endfor %}
						</div>
					</blockquote>

					<p>
						{{comment.description}}
					</p>
				</div>
			{% endfor %}
		{% else %}
			<p class="not-comment-resto">
				{% trans %}
				Aucun avis pour le moment
				{% endtrans %}
			</p>
		{% endif %}

	</div>

	<button data-comdown={% trans %} 'Cacher les commentaires' {% endtrans %} data-comup={% trans %} 'Afficher plus de commentaires' {% endtrans %} class="js-comment-views">Afficher plus de commentaires</button>

</section>
