{% set locale = app.request.locale %}
<div class="js-move"></div>
<section class="container-hourly">
				<h2>
					{% trans %}Horaire{% endtrans %}

				</h2>

				<div class="hourly">
					<ul>
						{% for key,time in resto.schedule.timetables %}

							<li {% if time.open == null and time.close == null and time.openpm == null and time.closepm == null %} class="closed-resto" {% endif %}>
								<span class="day">{{days[key]}}</span>
								<span class="container-hour">
									<span>
										{% if time.open == null and time.close == null and time.openpm == null and time.closepm == null %}
											{% trans %}
											Fermé toute la journée
											{% endtrans %}
										{% else %}
										{% if time.open == null and time.close == null %}
										{% trans %}
											Fermé au matin
										{% endtrans %}
											{% else %}
											{{time.open|format_datetime('none', 'short', locale=locale)}} - {{time.close|format_datetime('none', 'short', locale=locale)}}
											{% endif %}

											
										{% if time.openpm == null and time.closepm == null %}
											{% else %}
											|
												{{time.openpm|format_datetime('none', 'short', locale=locale)}} - {{time.closepm|format_datetime('none', 'short', locale=locale)}}
											{% endif %}
										{% endif %}
									</span>
								</span>
							</li>

						{% endfor %}
					</ul>
				</div>
			</section>