{% set restostar = 4 %}
{% set size =  resto.images|length -1 %}
{% set days = ['lundi','mardi','mercredi','jeudi','vendredi','samedi','dimanche'] %}

{% extends "base.html.twig" %}
{% block title %} {{resto.name}} {% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
{% endblock %}
{% block body %}
	<div class="nav-responsive-resto">
		<div class="container">
			<div class="container-header-resto">
				<h1>
					{{resto.name}}

				</h1>
				<div class="container-header-star">
					{% for i in 1..5 %}
						{% if restostar < i %}
							<i class="fa-regular fa-star"></i>
						{% else %}
							<i class="fa-solid fa-star"></i>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="nav-cube-responsive d-flex">
				<div class="cube-lateral mx-2 resto-cube-r" >

					<i class="fa-solid fa-circle-info"></i>
					<span class="sticker">
						{% trans %}
						Information
						{% endtrans %}
					</span>
				</div>

				<div class="cube-lateral mx-2 resto-cube-r" >
					<i class="fa-solid fa-utensils"></i>
					<span class="sticker">
						{% trans %}
						Plats
						{% endtrans %}
					</span>
				</div>

				<div class="cube-lateral mx-2 resto-cube-r" >
					<i class="fa-solid fa-map-location"></i>
					<span class="sticker">
						{% trans %}
						Localiser
						{% endtrans %}
					</span>
				</div>
				<div class="cube-lateral mx-2 resto-cube-r">
					<i class="fa-solid fa-clock"></i>
					<span class="sticker">
						{% trans %}
						Horaire
						{% endtrans %}
					</span>
				</div>
			</div>
		</div>
	</div>
	<section class="container container-page-resto d-flex pt-3">
		<aside class="container-navi-resto col-2">
			<div class="cube-lateral mx-2 resto-cube">
				<i class="fa-solid fa-circle-info"></i>
				<span class="sticker">
					{% trans %}
					Information
					{% endtrans %}
				</span>
			</div>

			<div class="cube-lateral mx-2 resto-cube">
				<i class="fa-solid fa-utensils"></i>
				<span class="sticker">
					{% trans %}
					Plats
					{% endtrans %}
				</span>
			</div>

			<div class="cube-lateral mx-2 resto-cube">
				<i class="fa-solid fa-map-location"></i>
				<span class="sticker">
					{% trans %}
					Localiser
					{% endtrans %}
				</span>
			</div>
			<div class="cube-lateral mx-2 resto-cube">
				<i class="fa-solid fa-clock"></i>
				<span class="sticker">
					{% trans %}
					Horaire
					{% endtrans %}
				</span>
			</div>

		</aside>
		<div class="col-12 col-lg-10 col-xl-10">
			<div class="container-header-resto">
				<h1>
					{{resto.name}}
				</h1>
				<div class="container-header-star">
					{% for i in 1..5 %}
						{% if restostar < i %}
							<i class="fa-regular fa-star"></i>
						{% else %}
							<i class="fa-solid fa-star"></i>
						{% endif %}
					{% endfor %}
				</div>
			</div>


			<section class="slider-resto">
			{% if resto.images|length > 0 %}
				{% for image in resto.images %}
					<img class=" slider-img  {% if loop.first %} active-slider {% endif %} " src="{{ asset('/images/restaurant/' ~ image.path)|imagine_filter('bg_r') }}" alt="image du restaurant - {{resto.name}} ">
				{% endfor %}
				<span class="control-slider-container">
					{% for i in 0.. size  %}
						<div class="{% if loop.first %}active-control{% endif %} control-slider"></div>
					{% endfor %}
				{% else %}
					<img class=" slider-img active-slider"  src="{{ asset('/build/images/site/default_resto.jpg') }}" alt="image du restaurant - {{resto.name}} ">
					<div class="active-control control-slider"></div>
			{% endif %}

				</span>
			</section>
			<section class="container-information-resto js-move">
				<h2>
					{% trans %}
					Qui sommes nous?
					{% endtrans %}
				</h2>

				<article class="container-description-resto">
					<p>
						{{resto.description}}
					</p>
				</article>
				<div class="container-infos-special">
					<div class="container-origine-cuisine">
						<h3>
							{% trans %}
							Origines de la cuisine
							{% endtrans %}
						</h3>
						<div class="d-flex flex-wrap">
							{% for origine in resto.origine %}
								<figure class="px-2">
									<img src="{{asset('/images/origines/' ~ origine.image)}}" alt="{{origine.name}}">
									<figcaption>
										{{origine.name}}
									</figcaption>
								</figure>
							{% endfor %}
						</div>
					</div>
					<div class="container-origine-cuisine">
					<h3> 
						{% trans %}
						Budget minimum
						{% endtrans %}
					</h3>
					<div class="d-flex flex-wrap">
							<figure class="px-2">

								<figcaption>
										25€
								</figcaption>
							</figure>
					</div>
				</div>
				</div>

			</section>

			<div class="js-move"></div>
			<section class="container-plats">
				<h2>
					{% trans %}
					Nos spécialités
					{% endtrans %}
				</h2>
				{% if resto.plats is not empty and resto.plats|length > 0 %}
				<div class= {% if resto.plats|length > 1 %} "container-plat" {% else %} "full-plat" {% endif %}  >
				{% for plat in resto.plats %}
					<div class="plat">
						<picture style="background-image:url({{asset('/images/plats/' ~ plat.image )}})"></picture>
						<span>
						{{plat.name}}
						</span>
					</div>
				{% endfor %}
				</div>

				{% else %}
					<h3 class="resto-no-found-speciality"> {% trans %}L'établissement n'as pas encore ajouté de spécialité {% endtrans %}</h3>
				{% endif %}


			</section>


			<div class="js-move"></div>
			<section class="localization-resto">
				<h2>
					{% trans %}
					Ou nous trouver ?
					{% endtrans %}
				</h2>

				<span class="position-info">
					<picture>
						<img src="{{asset('/build/images/position.svg')}}" alt="icon position">
					</picture>
					<h3 class="">
						<span>
						{{resto.adress}}
						</span>
						<span>
							{{resto.city.localite}} - {{resto.city.code}} 
						</span>
					</h3>
				</span>

				<a class="container-number-resto" href="tel:{{resto.phone}}">
					<div class="icon-number-resto">
						<i class="fa-solid fa-mobile-screen"></i>
					</div>
					<div class="number-resto">
						{{resto.phone}}
					</div>
				</a>
				<div class="localization-resto-map">
					<div id="map" data-l={{lati}} data-la={{longi}}></div>

				</div>
			</section>
			<div class="js-move"></div>
			<section class="container-hourly">
				<h2>
					{% trans %}Horaire{% endtrans %}

				</h2>

				<div class="hourly">
					<ul>
					{% for key,time in resto.schedule.timetables %}
						
						<li>
						
							<span class="day">{{days[key]}}</span>
							<span class="container-hour">
								<span>
								{% if time.open == null and time.close == null %}
								 Fermé
								 {% else %}
								{{time.open|format_datetime('none', 'short', locale='fr')}}-{{time.close|format_datetime('none', 'short', locale='fr')}}
								{% endif %}
								</span>
							</span>
						</li>
					{% endfor %}
					</ul>
				</div>
			</section>

		</div>
	</section>


{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script defer src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
	{{ encore_entry_script_tags('slider') }}
{% endblock %}
