{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    {{form_rest(form)}}
    <button class="btn">{{ button_label|default('S\'inscrire') }}</button>
{{ form_end(form) }}

{% endblock %}
