{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Mise à jour du mot de passe{% endtrans %}
{% endblock %}

{% block body %}
	<div class="bg-style-create">
		<div class="container-resto-form">
			<div class="title">
				<h1>
					{% trans %}Mise à jour du mot de passe
					{% endtrans %}</h1>
			</div>

			<div class="form-step">
				{{form_start(form)}}
				<div class="form-groups">
					<div class="form-groups">
						{{ form_label(form.password.first) }}
						{{ form_widget(form.password.first) }}
						<div class="form-create-error">
							{{ form_errors(form.password.first) }}
						</div>
						{{ form_label(form.password.second) }}
						{{ form_widget(form.password.second) }}
						<div class="form-create-error">
							{{ form_errors(form.password.second) }}
						</div>
					</div>
				</div>
				<div class="form-create-error">
					{{form_errors(form.password)}}
				</div>
				<div class="container-btn-action-form d-flex">
					<div class="button-container-2">
						<span class="mas">
							{% trans %}
							Mettre à jour
							{% endtrans %}
						</span>
						<button type="submit" name="Hover">
							{% trans %}
							Mettre à jour
							{% endtrans %}
						</button>
					</div>
				</div>
			</div>
			{{form_rest(form)}}
			{{form_end(form)}}
		</div>
	</div>
</diV>{% endblock %}
